html{
  box-sizing: border-box;
}

body{
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #B0BBCB;
}

html,
body{
  height: 100%;
}

*,
*::after,
*::before{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul, ol{
  list-style: none;
}

.container{
  max-width: 1212px;
  padding: 0 16px;
  margin: 0 auto;
}

.title{
  color: #FFF;
  font-size: 55px;
  font-weight: 800;
  line-height: 71.5px;
  text-align: center;
}

.btn__see-more{
  width: 200px;
  padding: 12px 16px;
  background: #231E41;
  border: 1px solid #7553F0;
  border-radius: 100px;
  text-align: center;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
  margin: 0 auto;
  transition: background .3s ease;
}

.btn__see-more:hover{
  background: #7553F0;
  border-color: #7553F0;
}

.btn__jump-join{
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
  background: linear-gradient(99deg, #952EE5 10.42%, #302DDD 109.22%);
  border-radius: 100px;
  text-align: center;
  cursor: pointer;
}

.btn__jump-join:hover{
  background: linear-gradient(99deg, #302DDD 10.42%, #952EE5 109.22%);
}

.menu__mobile-opened{
  overflow: hidden;
}

/* ----------------------------- */
.header{
  background: #0E1030;
  padding: 24px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo{
  display: flex;
  align-items: center;
  gap: 9px;
  cursor: pointer;
  position: relative;
  z-index: 11;
}

.header__menu{}

.header__menu-list{
  display: flex;
  gap: 48px;
}

.header__menu-list.active{
  transform: translateX(0%);
  z-index: 10;
}

.header__menu-item{
  color: #8492A5;
  font-size: 14px;
  font-weight: 600;
  line-height: 18.2px;
  cursor: pointer;
  transition: color .3s ease;
}

.header__menu-item:hover{
  color: #FFF;
}

.header__btn.mobile{
  display: none;
}

.header__btn{
  background: #231E41;
  width: 200px;
  padding: 10px 16px;
  border: 1px solid #7553F0;
  border-radius: 100px;
  color: #FFF;
  font-weight: 600;
  text-align: center;
  transition: all .3s ease;
  cursor: pointer;
}

.header__btn:hover{
  background: #7553F0;
  border-color: #7553F0;
}

.header__burger-btn{
  position: relative;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
  z-index: 11;
}

.burger__btn-line{
  position: absolute;
  width: 30px;
  height: 2px;
  background: #FFF;
  border-radius: 10px;
}

.burger__btn-line:nth-child(1){
  transform: translateY(-10px);
  transition: all .3s ease;
}
.burger__btn-line:nth-child(3){
  transform: translateY(10px);
  transition: all .3s ease;
}

.header__burger-btn.active .burger__btn-line:nth-child(1){
  transform: rotate(-45deg);
  transition: all .3s ease;
}
.header__burger-btn.active .burger__btn-line:nth-child(2){
  display: none;
}
.header__burger-btn.active .burger__btn-line:nth-child(3){
  transform: rotate(45deg);
  transition: all .3s ease;
}
/* ------------------------------ */

.cuberium{
  background: #0F1115;
  padding: 128px 0;
  margin-top: 94px;
}

.cuberium__title{
  margin-bottom: 170px;
}

.cuberium__content-inner{
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.cuberium__content-item{
  padding: 64px 20px 32px;
  background: rgba(117, 83, 240, 0.10);
  border: 1px solid #7553F0;
  border-radius: 32px;
  position: relative;
}

.cuberium__content-img{
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 172px;
  left: 51.5px
}

.cuberium__content-title{
  color: #FFF;
  font-size: 24px;
  font-weight: 800;
  line-height: 33.6px;
}

.cuberium__content-text{
  font-size: 14px;
  line-height: 21px;
  margin-top: 8px;
}

/* ------------------------------ */

.possibility{
  background: #0F1115;
  padding: 128px 0;
}

.possibility__inner{}

.possibility__inner-top{
  display: flex;
}

.possibility__inner-bottom{
  display: flex;
}

.possibility__content{
  padding: 32px;
  background: rgba(117, 83, 240, 0.10);
  border: 1px solid #7553F0;
  border-radius: 24px;
  max-width: 476px;
  height: auto;
  width: 100%;
}

.possibility__content-title{
  color: #FFF;
  font-size: 40px;
  font-weight: 800;
  line-height: 56px;
}

.possibility__content-text{
  margin: 24px 0 48px;
}

.possibility__content-btn{
  padding: 13.5px 16px;
  width: 196px;
}

.possibility__content-img{
  display: flex;
  border-radius: 24px;
}

.possibility__img{
  max-width: 704px;
  width: 100%;
  height: auto;
}

/* ---------------------------- */

.collaborations{
  background: #0F1115;
  padding: 128px 0;
}

.collaborations__title{
  font-size: 32px;
  line-height: 44.8px;
}

.collaborations__scrolling-text{
  margin-top: 48px;
  width: 100%;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  background: #20252C;
  padding: 15.5px 0;
}

.scrolling__text-inside{
  display: flex;
  color: #B0BBCB;
  font-size: 18px;
  font-weight: 800;
  line-height: 27px;
  animation: scrolling_text 30s linear infinite;
}

.scrolling-img{
  margin: 0 24px;
}

.scrolling__text{
  margin: 0 16px;
}

@keyframes scrolling_text {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

/* ---------------------------- */

.featured{
  background-color: #0F1115;
  padding: 128px 0;
}

.featured__inner{
  margin-top: 48px;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.featured__item{
  width: 372px;
  padding: 32px;
  border: 1px solid #7553F0;
  border-radius: 32px;
  background: rgba(117, 83, 240, 0.10);
  backdrop-filter: blur(5px);
  text-align: center;
}

.featured__item.active {
  color: #F9FAFC;
}

.featured__item-top{
  width: 235px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.featured__item-img{
  width: 100%;
  height: 100%;
}

.featured__item-text{
  margin-top: 20px;
}

/* ------------------------------- */

.subscribe{
  background: radial-gradient(78.51% 78.51% at 50% 50%, #412DDF 0%, #0F1115 100%);
  padding: 104px 0;
}

.subscribe__container{
  max-width: 918px;
  padding: 0 15px;
  margin: 0 auto;
}

.subscribe__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe__textual{
  max-width: 375px;
}

.subscribe__title{
  text-align: left;
  margin-bottom: 12px;
}

.subscribe__textual-text{
  color: #D3DCE6;
}

.subscribe__interaction-over{
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.subscribe__interaction-input{
  width: 291px;
  padding: 14px 17px;
  background: transparent;
  border: 1px solid #FFF;
  border-radius: 100px;
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
}

.subscribe__interaction-input::placeholder{
  font-family: Montserrat, sans-serif;
  color: #B0BBCB;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.subscribe__interaction-input:focus{
  border-color: #FC461E;
  opacity: unset;
}

.subscribe__interaction-over-btn{
  background: #FFF;
  padding: 13.5px 18px;
  border-radius: 100px;
  color: #552EE0;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
  cursor: pointer;
  transition: all .3s ease;
  text-align: center;
}

.subscribe__interaction-over-btn:hover{
  color: #FFF;
  background: #552EE0;
}

.subscribe__interaction-join{
  background: rgba(117, 83, 240, 0.20);
  border-radius: 24px;
  padding: 20px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.interaction__join-inner{
  display: flex;
}

.interaction__text{
  color: #FFF;
  font-size: 18px;
  font-weight: 800;
  line-height: 27px;
}

.interaction__img{
  margin: 0 6px 0 10px;
}

.interaction__join-btn{
  width: 172px;
  padding: 10px 16px;
}

/* --------------------------------- */

/* Mobile ---------------------- */

@media (max-width: 1230px) {
  .cuberium__content-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 121px 32px;
  }

  .cuberium__content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cuberium__content-img {
    left: unset;
    bottom: 131px;
  }

  .cuberium__content-title{
    align-self: stretch;
  }

  .possibility__inner-top {
    flex-direction: column-reverse;
    align-items: center;
  }

  .possibility__content{
    padding: 32px 32px 72px;
    max-width: 704px;
  }

  .possibility__inner-bottom{
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

}


@media (max-width: 888px) {
  .header{
    padding: 21px 0 19px;
    background: #0F1115;
  }

  .header__btn.mobile{
    display: block;
  }

  .header__btn{
    display: none;
  }

  .header__burger-btn{
    display: flex;
  }

  .header__menu-list{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0F1115;
    padding-top: 214.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    transform: translateX(100%);
    transition: transform .5s ease;
  }

  .header__menu-item{
    color: #FFF;
    font-size: 16px;
    line-height: 20.8px;
  }

  /* ---------------------------- */

  .cuberium{
    padding: 64px 0 0 0;
    margin-top: 72px;
  }

  .cuberium__content-inner{
    border-bottom: 1px solid #20252C;
    padding-bottom: 64px;
  }

  .cuberium__content-item{
    height: 210px;
  }

  .cuberium__content-img{
    bottom: 160px;
  }

  /* ------------------------- */

  .possibility{
    padding: 64px 0 0 0;
  }

  .possibility__inner{
    border-bottom: 1px solid #20252C;
    padding-bottom: 64px;
  }

  /* ---------------------------- */

  .collaborations{
    padding: 64px 0;
  }

  /* ---------------------------- */

  .featured{
    padding: 64px 0;
  }

  /* ----------------------------- */
  .subscribe{
    padding: 72px 0;
  }

  .subscribe__inner{
    flex-direction: column;
    gap: 40px;
  }

  .subscribe__title{
    text-align: center;
  }

  .subscribe__textual-text{
    text-align: center;
  }
}


@media (max-width: 655px) {
  .title{
    font-size: 32px;
    line-height: 44.8px ;
  }

  .cuberium__title{
    margin-bottom: 133px;
  }

  .cuberium__content-inner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 133px 32px;
  }

  .cuberium__content-item{
    padding: 64px 20px 20px;
    height: 210px;
  }

  .cuberium__content-img{
    bottom: 160px;
    margin-bottom: 0;
  }

  .possibility__content{
    padding: 20px;
  }

  .possibility__content-title{
    font-size: 32px;
    line-height: 44.8px;
  }

  .collaborations__title{
    font-size: 24px;
    line-height: 33.6px;
  }

  .featured__inner{
    gap: 16px;
  }

  .featured__item {
    width: unset;
    padding: unset;
    border: none;
    border-radius: unset;
    background: none;
    backdrop-filter: none;
    text-align: center;
 }

 .featured__item-top {
  width: 162px;
  height: 44px;
 
}

 .featured__item-text{
  display: none;
 }

 /* ------------------------ */

  .subscribe__interaction-over{
    flex-direction: column;
    margin-bottom: 56px;
  }

  .subscribe__interaction-input{
    width: 343px;
  }
}

