html{
  box-sizing: border-box;
}

body{
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #B0BBCB;
}

html,
body{
  height: 100%;
}

*,
*::after,
*::before{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul, ol{
  list-style: none;
}

.container{
  max-width: 1212px;
  padding: 0 16px;
  margin: 0 auto;
}

.title{
  color: #FFF;
  font-size: 55px;
  font-weight: 800;
  line-height: 71.5px;
  text-align: center;
}

/* ------------------------------ */

.cuberium{
  background: #0F1115;
  padding: 229px 0 128px;
}

.cuberium__title{
  color: #FFF;
  font-size: 32px;
  font-weight: 800;
  line-height: 44.8px;
  text-align: center;
  margin-bottom: 133px;
  display: none;
}

.cuberium__content-inner{
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.cuberium__content-item{
  padding: 64px 20px 32px;
  background: rgba(117, 83, 240, 0.10);
  border: 1px solid #7553F0;
  border-radius: 32px;
  position: relative;
}

.cuberium__content-img{
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 172px;
  left: 51.5px
}

.cuberium__content-title{
  color: #FFF;
  font-size: 24px;
  font-weight: 800;
  line-height: 33.6px;
}

.cuberium__content-text{
  font-size: 14px;
  line-height: 21px;
  margin-top: 8px;
}

.border{
  height: 1px;
  background: #20252C;
  margin-top: 64px;
  display: none;
}

/* ------------------------------ */

.possibility{
  background: #0F1115;
  padding: 128px 0;
}

.possibility__inner{}

.possibility__inner-top{
  display: flex;
}

.possibility__inner-bottom{
  display: flex;
}

.possibility__content{
  padding: 32px;
  background: rgba(117, 83, 240, 0.10);
  border: 1px solid #7553F0;
  border-radius: 24px;
  max-width: 476px;
  height: auto;
  width: 100%;
}

.possibility__content-title{
  color: #FFF;
  font-size: 40px;
  font-weight: 800;
  line-height: 56px;
}

.possibility__content-text{
  margin: 24px 0 48px;
}

.possibility__content-btn{
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
  padding: 13.5px 16px;
  background: linear-gradient(99deg, #952EE5 10.42%, #302DDD 109.22%);
  border-radius: 100px;
  width: 196px;
  text-align: center;
  cursor: pointer;
}

.possibility__content-btn:hover{
  background: linear-gradient(99deg, #302DDD 10.42%, #952EE5 109.22%);
}

.possibility__content-img{
  display: flex;
  border-radius: 24px;
}

.possibility__img{
  max-width: 704px;
  width: 100%;
  height: auto;
}





/* Mobile ---------------------- */

@media (max-width: 1230px) {
  .cuberium__content-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 121px 32px;
  }

  .cuberium__content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cuberium__content-img {
    left: unset;
    bottom: 131px;
  }

  .cuberium__content-title{
    align-self: stretch;
  }

  .possibility__inner-top {
    flex-direction: column-reverse;
    align-items: center;
  }

  .possibility__content{
    padding: 32px 32px 72px;
    max-width: 704px;
  }

  .possibility__inner-bottom{
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

}


@media (max-width: 885px) {
  .border{
    display: block;
  }

  .cuberium__title{
    display: block;
  }

  .cuberium{
    padding: 64px 0 0 0;
  }

  .cuberium__content-img{
    margin-bottom: 20px;
  }

  .possibility{
    padding: 64px 0 0 0;
  }
}


@media (max-width: 655px) {
  .cuberium__content-inner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 133px 32px;
  }

  .cuberium__content-item{
    padding: 64px 20px 20px;
  }

  .cuberium__content-img{
    bottom: 119px;
    margin-bottom: 0;
  }

  .possibility__content{
    padding: 20px;
  }

}


@media (max-width: 450px) {
  .cuberium__content-img{
    margin-bottom: 20px;
  }

  .possibility__content{
    padding: 22px;
  }
}
